html {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 1vw 1vh;
}
.header {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  top: 0;
  height: 50px;
}
.card-panel {
  height: 200px;
  min-width: 200px;
  padding: 2vw;
  margin: auto;
  margin-top: 1vh;
  border-radius: 5px;
  color: #333;
}
.boards {
  top: 60px;
  position: relative;
}
.threshold {
  margin-top: 0.1 rem;
}
.result {
  font-size: 3em;
}
.alerts-recent{
  height:30vh;
  overflow-y: scroll;
}
.alerts-current{
  height:30vh;
  overflow-y: scroll;
}
.alerts-heading{
  font-size:1.3em;
}

.text-white {
  color: #fff;
}
.fill-white {
  fill: white;
}
.gauge-container {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}

.gauge-container > .gauge > .dial {
  stroke: #334455;
  stroke-width: 20;
}

.gauge-container > .gauge > .value {
  stroke-width: 50;
}

.gauge-container > .gauge > .value-text {
  fill: #333;
}

path {
  stroke-width: 2;
  fill: none;
}

path,
gauge-container > .gauge > .value {
  stroke: #76a6b9;
}
